@page "/Overview"

<h3>Overview</h3>

@* <Loading IsLoading="@_loading">
    <FluentDataGrid TGridItem="Cluster" Items="@_clusters?.AsQueryable()">
        <PropertyColumn Property="@(p => p.Name)" Sortable="true"/>
        <PropertyColumn Property="@(p => p.ClusterInfo.Server)" Sortable="true" />
    </FluentDataGrid>
</Loading>
 *@
@code {
    private bool _loading = false;
    // private List<Cluster>? _clusters;

    // protected override Task OnInitializedAsync()
    // {
    //     try
    //     {
    //         _clusters = KubernetesClient.Clusters;
    //     }
    //     finally
    //     {
    //         _loading = false;
    //     }

    //     return base.OnInitializedAsync();
    // }
}